<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="app">
        <!-- 数据一旦发生变化就通知侦听器所绑定的方法 -->
        <div>
            <span>名：</span>
            <span><input type="text" v-model='lastName'></span>
        </div>
        <div>
            <span>姓：</span>
            <span><input type="text" v-model='firstName'></span>
        </div>
        <div>{{fullName}}</div>
    </div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            firstName: 'Jim',
            lastName: 'Green',
            fullName: 'Jim Gree'
        },
        methods: {
            handle: function (event) {
            }
        },
        //侦听器:适用场景，数据变化执行异步或开销较大
        watch: {
            firstName: function (value) {
                this.fullName = value + ' ' + this.lastName
            },
            lastName: function (value) {
                this.fullName = value + ' ' + this.firstName
            }
        }
    });
</script>

</html>